/* Main launcher (SUPER+ALT+SPACE / SUPER+D) -- drun/run/filebrowser, 2-column grid. */

configuration {
    modi: "drun,run,filebrowser";
}

@import "pywal-color/pywal-theme.rasi"
@import "theme/base.rasi"

window {
    width: 390px;
}

listview {
    columns: 1;
    lines:   20;
}
