/* Online radio/music picker (RofiBeats.sh, SUPER+SHIFT+M). */

configuration {
    modi: "drun,run";
}

@import "pywal-color/pywal-theme.rasi"
@import "theme/base.rasi"

window {
    width:  360px;
    height: 400px;
}

listview {
    lines:         20;
    fixed-columns: true;
}
