/* zsh theme switcher (submitted by github.com/hyprhex) -- 3-column grid. */

configuration {
    modi: "drun,run";
}

@import "pywal-color/pywal-theme.rasi"
@import "theme/base.rasi"

window {
    width: 480px;
}

listview {
    columns: 1;
    lines:   20;
}
